# Analyze sales data with Pandas

In [69]:
# Initializing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [70]:
# Obtaining the customer data and invoice dataframe
with open('dim_customer.json') as f:
	data = json.load(f)
df = pd.read_csv('fct_invoice.csv')
df

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...
99452,I219422,2344,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,172,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,425,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,577,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,30,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

# Easy

**1. How many unique customers are in the dataset?**

In [71]:
# Count the number of unique customer ids
unique_customer = df['customer_id'].nunique()
print(f"There are {unique_customer} unique customers in the dataset")

There are 5191 unique customers in the dataset

**2. What are the different categories of products available? How many unique categories are there?**

In [72]:
# Identify every product category
product_category = df['category'].unique()
print(f"The different product categories are: {product_category}")

# Count the number of unique categories
unique_category = df['category'].nunique()
print(f"There are {unique_category} unique categories in the dataset")

The different product categories are: ['Clothing' 'Shoes' 'Books' 'Cosmetics' 'Food & Beverage' 'Toys'
 'Technology' 'Souvenir']
There are 8 unique categories in the dataset

**3. Which payment method is the most popular? How many times was it used?**

In [73]:
# Identify the most popular payment method
all_payment = df['payment_method'].value_counts()
popular_payment = all_payment.index[0]
print(f"The most popular payment method is: {popular_payment}")

# Count how many times it was used
payment_usage = df['payment_method'].value_counts().max()
print(f"{popular_payment} was used {payment_usage} times")

The most popular payment method is: Cash
Cash was used 44447 times

# Medium

**1. What are the three most popular categories, by total sales?**

In [74]:
# Identify top 3 most popular categories
top_three = df['category'].value_counts().head(3).index.to_list()
print(f"The three most popular categories are: {top_three}")

The three most popular categories are: ['Clothing', 'Cosmetics', 'Food & Beverage']

**2. What are the total sales attributed to customers over the age of 45?**

In [ ]:
# Obtain total sales attributed to customers over the age of 45

**3. How is the data distributed across different invoice dates? Are there any seasonal trends or patterns? (Use a graph for this.)**

# Hard

**1. Create a pivot table showing the breakdown of sales across these dimensions, in this order: category, decade age range (e.g., 10-19, 20-29, and so forth).**